.div{
    
    
    background-color:rgb(8, 179, 185);
    height: 700px;
}
.dis{
    display: flex;
    justify-content: center;  
}
.onz{
    padding-top: 200px;
    font-size: 6em;
}
.bla{
    color: white;
}
.zx{
    color: rgb(255, 217, 0);
    font-family:serif;
}
.zz{
    color: white;
    margin-left: 30px;
}
.yellow{
    position: relative;
    margin-left: 40%;
    background-color: rgb(255, 174, 0);
    border-radius: 6px;
    height: 50px;
    width: 150px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: auto;
}
.red{
    background-color: rgb(230, 82, 82);
    height: 50px;
    border-radius: 6px;
    width: 150px;
    margin-left: 40px;
    color: white;
    font-family: font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(49, 47, 47, 0.938);
    height: 70px;
}
.di{
    display: flex;
    ;
}
.a{
    margin-left: 30px;
    margin-top: 20px; 
    text-decoration: none;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.head{
    margin-top: 12px;
    margin-left: 10px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.hom{
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(255, 174, 0);
    font-size: 50px;
}
.rech{
    height: 35px;
    margin-top: 20px;
}
.re{
    color: rgba(15, 15, 15, 0.781);
    border-color: rgba(39, 38, 38, 0.671);
    background-color: azure;
    margin-right: 20px;
}
.container{
    display: flex;
    justify-content: space-around;
}
.sect_1{
    background-color: rgb(240, 251, 255);
    height: 700px;
}
.kil{
    display: flex;
    justify-content: center;
    font-family: serif;
    font-size: 5em;
    color: rgb(255, 174, 0);
    padding-top: 30px;
}
.lor{
    display: flex;
    justify-content: center;
    font-family: serif;
    font-size: 25px;
    color:rgb(145, 144, 144);

}
.moni{
    font-size: 8em;
    color: rgb(255, 174, 0);
    margin-left: 30px;
}
.wri{
    font-size: 8em;
    color: rgb(255, 174, 0);
    margin-left: 30px;
}
.sett{
    font-size: 8em;
    color: rgb(255, 174, 0);
    margin-left: 30px;
}
.dev{
    color:rgb(145, 144, 144);

}
.desi{
    margin-left: 40px;
    color:rgb(145, 144, 144);

}
.crea{
    margin-left: 40px;
    color:rgb(145, 144, 144);

}
.marg{
    margin-left: 200px;
}
.but{
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 187, 0);
    color: rgb(255, 187, 0);
    border-radius: 6px;
    width: 130px;
    height: 45px;
    margin-left: 60px;
}
.pa{
    font-size: 13px;
}

.im{
    display: flex;
    justify-content: space-around;
}
.proj{
    display: flex;
    justify-content: center;
    font-size: 6em;
    color: rgb(255, 187, 0);
}
.sect_2{
    margin-left: 60px;
    margin-right: 60px;
}
.mod{
    width: 300px;
    height: 200px;
}
.par{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color:darkgray;
}
.H3{
    font-size: 2em;
    color: rgb(255, 187, 0);
}
.sect_3{
    background-color: rgb(88, 88, 88);
    height: 700px;
}
.sec3 {
    text-align: center;
    margin-top: 50px;
}
.card-1 {
    color: rgb(255, 187, 0);
    font-size: 6em;
}
.card-2 {
    color: rgb(236, 241, 246);
    font-size: 20px;
}
.face1 {
color: rgb(96, 96, 234);
}

.face2 {
    color: rgb(71, 68, 68);
}

.face3 {
    color: darkred;
}

.face-grp {
    display: flex;
    margin-left: 300px;
    font-size: 3em;
}

.sec-4 {
    text-align: center;
}
.sec-4-1 {
   color:  rgb(255, 187, 0);; 
    font-size: 5em;
}

.sec-4-2{
    font-size: 20px;
}


.sec-5 {
    margin-left: 400px;
    margin-right: 400px;
    justify-content: center;
    font-size: 50px;
}
.sec-6-1 {
    text-align: center;

}

.sec-6-2 {
    margin-left: 400px;
    margin-right: 400px;
}
.sec6 {
    color: #FFC107;
    font-size: 88px;
}
.sec6-1 {
    font-size: 20px;
}

.sect-7 {
    
    background-color: #6C757D;
    height: 250px;
    text-align: center;
}
.face-grp2 {
    display: flex;
    justify-content: center;
}
.face1-1 {
   font-size: 3em; 
   color: midnightblue ;
}
.face3-3 {
    font-size: 3em;
    color: darkred;
}
.face2-2 {
    font-size: 3em;
    color: darkcyan;
}
.sec7-1 {
    color: #FFFFFF;
    font-size: 40px;
    margin: 0px 0px 8px;
   padding: 16px; 
}
.sec7-2 {
    color: #F8F9FA;
    font-size: 28px;
    margin: 0px 0px 16px;
}
@media screen and (max-width: 770px) {
.di {
    flex-direction: column;
}
 
.onz {
       font-size: 0em;
   } 
   
   
   .sect_1 {
       height: 2100px;
   }
   .container {
       flex-direction: column;
       justify-content: center;
       width: 50px;
       padding-left: 0%;
       padding-right: 0%;
       margin-left: 0px;
       margin-right: 0px;
   }
   .marg {
       margin-left: 20px;
   }
}



@media screen and (max-width: 640px) {
    
    .bla {
        margin-left: 50px;
        margin-top: 50px;
    } 
}


@media screen and (max-width: 600px) {
    
    .yellow {flex-direction: column;
             margin-left: 0px;
             width: 50px;
    }
    .red {
        flex-direction: column;
        margin-left: 0px;
        width: 65px;
    }
}
@media screen and (max-width: 210px) {
    .rech { 
          background-color: #FFC107;
    height: 0px;
    margin-top: 0px;
    display: none;
    }
}



@media screen and (max-width: 900px) {
    .sect_2 {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;

    }
    .im {
        flex-direction: column;
    }
   
}

@media screen and (max-width: 504px) {
    .sect_2 {
        
        margin-top: 300px;
    }
    
} 



@media screen and (max-width: 900px) {
    
    .sect_3 {
       height: 1600px; 
    }
}
@media screen and (max-width: 470px) {
    .face-grp {
        margin-left: 0px;
        font-size: 1em;
    }
}
@media screen and (max-width: 228px) {
    
    
    .card-1 {
        font-size: 1em;
    }
}

@media screen and (max-width: 800px){
.sec-4 {
    height: 600px;
}
    
}



@media screen and (max-width: 900px) {
    
    .sec-4-1 {
        font-size: 2em;
    }
    .sec-4-2 {
        font-size: 2em;
    }
}

@media screen and (max-width: 878px) {
    .sec-5 {
        margin-left: 0px;
        margin-right: 0px;
        
    }
    
}

@media screen and (max-width: 576px) {
    
    .sec6{
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    
    .sec-6-2 {
        margin-left: 0px;
        margin-right: 0px;
        
    }
}

@media screen and (max-width: 596px) {
    
    .sect-7 {
        height: 600px;
    }
}
@media screen and (max-width: 596px) {
    .sec7-1 {
        
    font-size: 15px;
    margin: 0px 0px 8px;
   padding: 16px; 
    }
    .sec7-2 {
        font-size: 15px;
    margin: 0px 0px 16px;
    }
}
@media screen and (max-width: 208px) {
    
    .face-grp2 {
        flex-direction: column;
    }
}